<!--news details-->
<div class="container">
    <header>
        <div class="sub-heading">
            <div>
                <div>
                    <div class="letter"> <p>Create:</p> {{this.article.createdAt}}</div>
                    <div class="letter"> <p>Update:</p> {{this.article.updatedAt}}</div>
                    <span style="font-size: 15px;">Tags: </span>
                    {{#each this.article.tags}}
                        <span class="badge badge-pill" style="background-color: #f0f0f0; margin-right: 10px; font-size: 12px; font-weight: bold">
                            {{this.name}}
                        </span>
                    {{/each}}
                </div>
            </div>
        <div>
            <h5>Author: {{article.author.username}}</h5>
            <h6>
                Status: {{this.article.status}}
            </h6>
        </div>
    </header>

    <button type="button" class="btn btn-info">Category: {{this.article.category.name}}</button>
    
    <div class="main">
        <div class="home">
            <div class="left">
                <blockquote>
                    <article>
                        {{{this.article.content}}}
                    </article>
                </blockquote>
                {{!-- {{#each article.image_url}}
                    <img src="{{this}}" alt="Paper Photos" />
                {{/each}} --}}
            </div>

            <div class="right">
                <h3 class="heading-3">
                    5 random news
                </h3>
                <div class="lists">
                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 50px;">
            <h4>Video</h4>
            {{#each this.article.video_url}}
                <div class="video-container">
                    <iframe width="560" height="315" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {{/each}}
        </div>

        <div class="cards">
            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nostrum officiis eos eligendi
                    hic sequi tenetur cupiditate doloremque incidunt aperiam amet nisi eaque molestias ab corporis
                    tempora voluptatem vitae quas?</p>
            </div>

            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptate repellendus
                    pariatur et voluptatibus animi inventore omnis blanditiis iure?</p>
            </div>

            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut delectus suscipit voluptates optio
                    atque praesentium sint magni commodi at nostrum, illum quia eum facilis consequatur vitae est
                    soluta ex animi tempore id temporibus impedit itaque. Beatae ipsam magni ducimus magnam?</p>
            </div>
        </div>    
    </div>

</div>

<p class="views">
    Lượt đọc: {{this.article.views}} lượt
</p>

<!--comment-->
<!--upload comment-->
<div class="new-comment">
    <h3>Upload Comment <span>November 14th,2024</span></h3>
    <form action="#" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="comment">Comment</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>

        <button type="submit">Send comment</button>
    </form>
</div>
<!-- Comment section -->
<div class="comments-section">
    <h3>Comment Section</h3>
    <div class="comment">
        <p><strong>Date:</strong> 10/11/2024</p>
        <p><strong>Viewer's name:</strong> MR.Chamber</p>
        <p><strong>Comment:</strong> Great News!</p>
    </div>
    <div class="comment">
        <p><strong>Date:</strong> 09/11/2024</p>
        <p><strong>Viewer's Name:</strong> Mrs.Sage</p>
        <p><strong>Comment:</strong> Great News!</p>
    </div>
</div>