<style>
.category{
    margin: 30px 0 0 30px;
    font-size: larger
}
.des{
    margin: 10px 0 20px 30px;
    font-size: large;
}
.article{    
    height: 60%;
    width: 60%;
    margin: 50px;
}
</style>

<button type="button" class="btn btn-info category">Category: {{CategoryName}}</button>
<div class="des">Description: {{des}} </div>
{{#each article }}
    <article class="main-container article">
        <h4>Views: {{this.views}}</h4>
        <div>
            <h2>{{this.title}}</h2>
            <p></p>
            <a href="/details?id={{this._id}}">Read More</a>
        </div>
        <a href="/details?id={{this._id}}"><img src="{{this.image_url.[0]}}" alt="Right News"></a>
        <hr>
    </article>
{{/each}}